@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Define una variable para el color de fondo
$color-de-fondo: #fff;

// Aplica el color de fondo al body o al elemento HTML
body {
  background-color: $color-de-fondo;
  margin: 0; // Elimina el margen predeterminado
  padding: 0; // Elimina el relleno predeterminado}
  font-family: 'Roboto', sans-serif;
}

.logo-container {
  position: relative;
  /* Agrega otros estilos según sea necesario */
}

.logotipo {
  position: absolute;
  left: 20px; /* Ajusta la posición horizontal según tus necesidades */
  z-index: 2; /* Asegura que el logotipo esté encima del contenido */
  /* Estilos adicionales para el logotipo */
}

.logotipo img {
  max-width: 200px; /* Ajusta el tamaño máximo del logotipo según tus necesidades */
  height: auto; /* Mantiene la proporción original */
}


/* En App.scss o en tu archivo CSS */
.hero {
  position: relative;
  margin-bottom: -1%;
}

.hero-image {
  width: 100%;
  height: auto;
  z-index: 0; // Coloca la imagen detrás del contenido
  filter: brightness(0.85) contrast(1); /* Ajusta el brillo y el contraste */
}

/* Estilo para .hero-content */
.hero-content {
  position: absolute;
  top: 45%;
  left: 12%;
  text-align: center;
  transform: translateY(-50%);
  color: white;
  z-index: 1; /* Asegura que el contenido esté encima de la imagen */

  h1 {
    font-size: 60px; /* Tamaño de fuente fijo */
  }

  p {
    font-size: 70px; /* Tamaño de fuente fijo */
  }
}

/* Estilo para el botón "Aprende Más" */
button[type="button"] {
  background-color: #f8c600; /* Color de fondo del botón */
  color: #000;
  outline: none;
  padding: 15px 35px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #fff; /* Cambia el color al pasar el cursor */
  }
}


.navbar {
  position: absolute;
  top: 35px; /* Añade espacio en la parte superior de la pantalla */
  right: 75px; /* Añade espacio en la parte derecha de la pantalla */
  left: 0;
  z-index: 2; // Coloca la barra de navegación encima de todo
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end; // Alinea los elementos a la derecha
}

.nav-list li {
  margin-right: 50px; // Espacio entre elementos de la lista
}

.nav-list li:last-child {
  margin-right: 0; // No aplicar margen al último elemento
}

/* Estilo para los elementos de navegación */
.nav-list a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease, font-weight 0.3s ease; /* Transiciones suaves para el color y el peso de la fuente */
  font-weight: normal; /* Inicialmente, establece el peso de la fuente como normal */
  font-size: 2vh;
}

/* Cambia el color y el peso de la fuente cuando el cursor pasa sobre los elementos de navegación */
.nav-list a:hover {
  color: #ffde6a; /* Cambia el color al pasar el cursor */
}

/* Media query para ajustar el tamaño de fuente en pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .logotipo img {
    margin-top: 425%;
    max-width: 50px; /* Ajusta el tamaño máximo del logotipo según tus necesidades */
    height: auto; /* Mantiene la proporción original */
  }
  /* Estilo para .hero-content */
.hero-content {
  position: absolute;
  top: 45%;
  left: 20%;
  text-align: center;
  transform: translateY(-50%);
  color: white;
  z-index: 1; /* Asegura que el contenido esté encima de la imagen */

  h1 {
    font-size: 18px; /* Tamaño de fuente fijo */
  }

  p {
    font-size: 15px; /* Tamaño de fuente fijo */
  }
}

/* Estilo para el botón "Aprende Más" */
button[type="button"] {
  font-size: 10px; /* Tamaño de fuente fijo */
}

  .navbar {
    position: absolute;
    top: 15px; /* Añade espacio en la parte superior de la pantalla */
    right: 20px; /* Añade espacio en la parte derecha de la pantalla */
  }

  .nav-list a {
    font-size: 1.5vh; /* Cambia el tamaño de fuente para pantallas más pequeñas */
  }

  .nav-list li {
    margin-right: 15px; // Espacio entre elementos de la lista
  }  
}


.about {
  background-color: #f8c600;
  padding: 3%;
  color: #494a5e;
  text-align: center; // Centra el texto horizontalmente
  display: flex; // Usa el modelo de caja flexible
  flex-direction: column; // Apila elementos verticalmente
  justify-content: center; // Centra verticalmente el contenido

  h2 {
    font-size: 6vh;
  }

  p {
    font-size: 2.5vh;
  }
}

.about-content {
  max-width: 1450px; // Ancho máximo del contenido
  margin: 0 auto; // Centra el contenido horizontalmente
}




.services {
  .container {
    .services-content {
      display: flex;
      flex-direction: column; /* Cambia la dirección del flujo a columna para apilar los elementos verticalmente */

      .service-item-1,
      .service-item-3 {
        background-color: #494a5e;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      
        img.hero-image {
          width: 50%;
        }
      
        .service-text-1,
        .service-text-3 {
          color: white;
          order: 2;
          flex: 1;
          margin: 0;
          padding-left: 5%;
          padding-right: 5%;
        }

        h3 {
          margin-bottom: 4px;
          font-size: 2.5vh;
        }

        h4 {
          margin-top: auto;
          margin-bottom: 40px;
          font-size: 3.5vh;
        }
      
      }
      
      .service-item-2 {
        background-color: #494a5e;
        align-items: center;
        display: flex;
        flex-direction: row-reverse; /* Invierte la dirección del flujo a fila inversa para colocar la imagen a la derecha y el texto a la izquierda */
        justify-content: space-between;
      
        img.hero-image {
          width: 50%;
        }
      
        .service-text-2 {
          color: white;
          order: 2;
          flex: 1;
          padding-left: 10%;
          padding-right: 10%;
        }

        h3 {
          margin-bottom: 4px;
          font-size: 2.5vh;
        }

        h4 {
          margin-top: auto;
          margin-bottom: 40px;
          font-size: 3.5vh;
        }
      }
      
    }
  }
}

.mission {
  position: relative; // Establece una posición relativa para que .mission-text esté posicionado en relación con este elemento
  margin-bottom: -1%;

  .container {
    position: relative; // Establece una posición relativa para que .mission-text esté posicionado en relación con este elemento
    
    img.hero-image {
      width: 100%;
      height: auto;
      filter: brightness(0.85) contrast(0.85); /* Ajusta el brillo y el contraste */
    }
    
    .mission-text {
      position: absolute; // Establece una posición absoluta para .mission-text
      color: #fff;
      margin-right: 15%;
      margin-left: 15%;
      top: 40%; // Coloca el elemento en el centro vertical
      text-align: center; // Centra el texto horizontalmente
      
      h3 {
        font-size: 6.5vh;
        margin: 0; // Elimina el margen por defecto del encabezado
      }
      
      p {
        font-size: 2vh;
        margin: 0; // Elimina el margen por defecto del párrafo
      }
    }
  }
}


.financing {
  .container {
    background-color: #494a5e;
    padding: 6%;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: row-reverse; /* Cambiamos la dirección a fila inversa para que el video esté a la derecha */
    align-items: center;

    .text-container {
      color: #fff;
      flex: 1;
      padding: 20px;

      h3 {
        font-size: 3vh;
      }

      p {
        font-size: 2vh;
      }
    }

    .video-container {
      flex: 1;
      padding: 10px;
    }
  }
}


// Estilo para el contenedor del carrusel
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  div {
    position: relative;
    text-align: center;

    img {
      width: 100%;
      height: auto;
      filter: brightness(0.75) contrast(1); /* Ajusta el brillo y el contraste */
    }

    p {
      position: absolute;
      top: 25%;
      left: 50%;
      font-size: 3.5vh;
      transform: translate(-50%, -50%);
      color: #fff; // Cambiar color de texto según tus preferencias
    }

    h3 {
      position: absolute;
      top: 40%; // Ajusta la posición vertical según tus necesidades
      left: 50%;
      font-size: 2.5vh;
      transform: translateX(-50%);
      color: #fff; // Cambiar color de texto según tus preferencias
    }
  }
}


.contact {
  background-color: #f8c600; /* Cambia el color de fondo según tus preferencias */
  padding: 80px 0; /* Agrega espaciado interno para separar el contenido del fondo */
}

.container-icons{
  margin-right: 40%;
  margin-left: 5%;

  h2 {
    font-size: 4vh;
    color: #494a5e;
    display: flex; // Usa el modelo de caja flexible

  }

  p {
    font-size: 2vh;
    color: #494a5e;
    display: flex; // Usa el modelo de caja flexible
  }
}

.social-icon {
  padding-left: 1.5%;
  font-size: 24px;
  color: #494a5e;
}

.container-form {
  margin-right: 5%;
  margin-left: 40%;
}

/* Estilo para el formulario */
form {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  max-width: 450px;
  margin: 0 auto;
}

/* Estilo para los campos de entrada */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Estilo para las etiquetas de formulario */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Estilo para el botón de enviar */
button[type="submit"] {
  background-color: #494a5e;
  color: #fff;
  padding: 15px 35px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #494a5e;
}

/* Estilo para los mensajes de error (puedes mostrarlos usando JavaScript) */
.error-message {
  color: #ff9d00;
  font-size: 14px;
  margin-top: 5px;
}

/* Estilo para el formulario en dispositivos móviles */
@media (max-width: 768px) {
  form {
    padding: 15px;
  }

  button[type="submit"] {
    font-size: 16px;
  }
}




.footer {
  font-size: 1.5vh;
  left: 0;
  bottom: 0;
  width: 100%; /* Ancho del pie de página para cubrir toda la página */
  background-color: #fff; /* Color de fondo del pie de página (ajusta según tus necesidades) */
  color: #333; /* Color del texto (ajusta según tus necesidades) */
  text-align: center; /* Centra el contenido del pie de página horizontalmente */
  padding: 50px 0; /* Espaciado interno (ajusta según tus necesidades) */
}

