// Define una variable para el color de fondo
$color-de-fondo: #fff;

// Aplica el color de fondo al body o al elemento HTML
body {
  background-color: $color-de-fondo;
  margin: 0; // Elimina el margen predeterminado
  padding: 0; // Elimina el relleno predeterminado
}

/* En App.scss o en tu archivo CSS */
.hero {
  position: relative;
  margin-bottom: -1%;
}

.hero-image {
  width: 100%;
  height: auto;
  z-index: 0; // Coloca la imagen detrás del contenido
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: white;
  z-index: 1; // Asegura que el contenido esté encima de la imagen
}

/* Estilo para el botón "Aprende Más" */
button[type="button"] {
  background-color: #f8c600; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  padding: 10px 20px; /* Relleno interno del botón */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Para que el botón no ocupe todo el ancho */

  &:hover {
    background-color: #fff; /* Cambia el color al pasar el cursor */
  }
}


.navbar {
  position: absolute;
  top: 35px; /* Añade espacio en la parte superior de la pantalla */
  right: 75px; /* Añade espacio en la parte derecha de la pantalla */
  left: 0;
  z-index: 2; // Coloca la barra de navegación encima de todo
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end; // Alinea los elementos a la derecha
}

.nav-list li {
  margin-right: 50px; // Espacio entre elementos de la lista
}

.nav-list li:last-child {
  margin-right: 0; // No aplicar margen al último elemento
}

/* Estilo para los elementos de navegación */
.nav-list a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease, font-weight 0.3s ease; /* Transiciones suaves para el color y el peso de la fuente */
  font-weight: normal; /* Inicialmente, establece el peso de la fuente como normal */
  font-size: 2.5vh;
  font-weight: bold;
}

/* Cambia el color y el peso de la fuente cuando el cursor pasa sobre los elementos de navegación */
.nav-list a:hover {
  color: #ffde6a; /* Cambia el color al pasar el cursor */
}

/* Media query para ajustar el tamaño de fuente en pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .navbar {
    position: absolute;
    top: 15px; /* Añade espacio en la parte superior de la pantalla */
    right: 20px; /* Añade espacio en la parte derecha de la pantalla */
  }

  .nav-list a {
    font-size: 1.5vh; /* Cambia el tamaño de fuente para pantallas más pequeñas */
  }

  .nav-list li {
    margin-right: 15px; // Espacio entre elementos de la lista
  }  
}


.about {
  background-color: #f8c600;
  padding: 5%;
  color: #494a5e;
  text-align: center; // Centra el texto horizontalmente
  display: flex; // Usa el modelo de caja flexible
  flex-direction: column; // Apila elementos verticalmente
  justify-content: center; // Centra verticalmente el contenido
}

.about-content {
  max-width: 1000px; // Ancho máximo del contenido
  margin: 0 auto; // Centra el contenido horizontalmente
}




.services {
  .container {
    .services-content {
      display: flex;
      flex-direction: column; /* Cambia la dirección del flujo a columna para apilar los elementos verticalmente */

      .service-item-1,
      .service-item-3 {
        background-color: #494a5e;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      
        img.hero-image {
          width: 50%;
        }
      
        .service-text-1,
        .service-text-3 {
          color: white;
          order: 2;
          flex: 1;
        }
      
        h3,
        h4,
        p {
          margin: 0;
          padding-left: 10%;
        }
      }
      
      .service-item-2 {
        background-color: #494a5e;
        align-items: center;
        display: flex;
        flex-direction: row-reverse; /* Invierte la dirección del flujo a fila inversa para colocar la imagen a la derecha y el texto a la izquierda */
        justify-content: space-between;
      
        img.hero-image {
          width: 50%;
        }
      
        .service-text-2 {
          color: white;
          order: 2;
          flex: 1;
        }
      
        h3,
        h4,
        p {
          margin: 0;
          padding-left: 10%;
        }
      }
      
    }
  }
}

.mission {
  position: relative; // Establece una posición relativa para que .mission-text esté posicionado en relación con este elemento
  margin-bottom: -1%;

  .container {
    position: relative; // Establece una posición relativa para que .mission-text esté posicionado en relación con este elemento
    
    img.hero-image {
      width: 100%;
      height: auto;
      filter: brightness(0.85) contrast(0.85); /* Ajusta el brillo y el contraste */
    }
    
    .mission-text {
      position: absolute; // Establece una posición absoluta para .mission-text
      color: #fff;
      top: 50%; // Coloca el elemento en el centro vertical
      left: 50%; // Coloca el elemento en el centro horizontal
      transform: translate(-50%, -50%); // Centra el contenido en el medio
      text-align: center; // Centra el texto horizontalmente
      
      h3 {
        margin: 0; // Elimina el margen por defecto del encabezado
      }
      
      p {
        margin: 0; // Elimina el margen por defecto del párrafo
      }
    }
  }
}


.financing {
  .container {
    background-color: #494a5e;
    padding: 7.5%;
    display: flex;
    flex-direction: row-reverse; /* Cambiamos la dirección a fila inversa para que el video esté a la derecha */
    align-items: center;

    .text-container {
      color: #fff;
      flex: 1;
      padding: 20px;
    }

    .video-container {
      flex: 1;
      padding: 20px;
    }
  }
}


// Estilo para el contenedor del carrusel
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  div {
    position: relative;
    text-align: center;

    img {
      width: 100%;
      height: auto;
    }

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff; // Cambiar color de texto según tus preferencias
    }

    h3 {
      position: absolute;
      top: 75%; // Ajusta la posición vertical según tus necesidades
      left: 50%;
      transform: translateX(-50%);
      color: #fff; // Cambiar color de texto según tus preferencias
    }
  }
}


.contact {
  background-color: #f8c600; /* Cambia el color de fondo según tus preferencias */
  padding: 80px 0; /* Agrega espaciado interno para separar el contenido del fondo */
}

.container-icons{
  margin-right: 40%;
  margin-left: 5%;
}

.social-icon {
  padding-left: 1.5%;
  font-size: 24px;
  color: #007bff;
}

.container-form {
  margin-right: 5%;
  margin-left: 40%;
}

/* Estilo para el formulario */
form {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  max-width: 450px;
  margin: 0 auto;
}

/* Estilo para los campos de entrada */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Estilo para las etiquetas de formulario */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Estilo para el botón de enviar */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilo para los mensajes de error (puedes mostrarlos usando JavaScript) */
.error-message {
  color: #ff9d00;
  font-size: 14px;
  margin-top: 5px;
}

/* Estilo para el formulario en dispositivos móviles */
@media (max-width: 768px) {
  form {
    padding: 15px;
  }

  button[type="submit"] {
    font-size: 16px;
  }
}




.footer {
  font-size: 1.5vh;
  left: 0;
  bottom: 0;
  width: 100%; /* Ancho del pie de página para cubrir toda la página */
  background-color: #fff; /* Color de fondo del pie de página (ajusta según tus necesidades) */
  color: #333; /* Color del texto (ajusta según tus necesidades) */
  text-align: center; /* Centra el contenido del pie de página horizontalmente */
  padding: 50px 0; /* Espaciado interno (ajusta según tus necesidades) */
}

